.App {
  text-align: center;
  height: 100vh;
  overflow: auto;
  /* 或者 overflow: scroll; */
  border: 1px groove red;
  padding: 10px;
  margin: 10px;
}

.Header {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px double goldenrod;
}

.Content {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px double green;
}

.Footer {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px double blue;
}

.img-mock {
  height: 200px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: 1px solid aqua;
}

